<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
 th:replace="normal/base::Layout(~{::section})"> 
<head>
<meta charset="UTF-8">
<title>home page</title>
</head>
<body>
  
  <section>  
	<div class="container-sm shadow-lg">
	  <div class="row">
	    <div class="col-md-8 offset-md-2">
           <div class="my-card mt-3">
           <form action="" th:action="@{/user/paymentGateway}" method="post" th:object="${payment}">

<div class="container py-5">
    <div class="row mb-4">
        <div class="col-lg-8 mx-auto text-center">
            <h1 class="display-6">Payment Details</h1>
        </div>
    </div> 
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="card ">
                <div class="card-header">
                    <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
                        <!-- Credit card form tabs -->
                        <ul role="tablist" class="nav bg-light nav-pills rounded nav-fill mb-3">
                            <li class="nav-item"> <a data-toggle="pill"  class="nav-link active "> <i class="fas fa-credit-card mr-2"></i>Card Details </a> </li>
                            
                        </ul>
                    </div> 
                    <div class="tab-content">
                       
                                    <!--alert/success message  -->
     <div th:if="${session.message}"  th:classappend="${session.message.type}" class="alert"  role="alert">
      <p th:text="${session.message.content}"></p>
      <th:block th:text="${#session.removeAttribute('message')}"></th:block>
      
      </div>
                       
                       
                       
                        <div id="credit-card" class="tab-pane fade show active pt-3">
                            <div class="form-group">
                             <label for="username">
                                        <h6>Card Owner</h6>
                                    </label> 
                             <input type="text" name="cardHolderName" placeholder="Card Owner Name" th:value="${cardHolderName}" required class="form-control ">
                              </div>
                    
                                <div class="form-group"> <label for="cardNumber">
                                        <h6>Card number</h6>
                                    </label>
                                    <div class="input-group"> <input type="text" name="cardNumber" placeholder="Valid card number" class="form-control " required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                       
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group mb-4"> <label data-toggle="tooltip" title="Three digit CV code on the back of your card">
                                                <h6>CVV <i class="fa fa-question-circle d-inline"></i></h6>
                                            </label> <input type="text" name="cvv" required class="form-control"> </div>
                                    </div>
                                </div>
                            </div>
                    </div> 
                    
                        <div class="form-group">
                            <p> <button type="submit" class="btn btn-primary "><i class="fas fa-mobile-alt mr-2"></i> Pay</button> </p>
                        </div>
                        
                    </div> 
                </form>
                </div>
            </div>
        </div>
    </div>
  </section>
</body>
</html>