<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
 th:replace="base::Layout(~{::section})"> 
<head>
<meta charset="UTF-8">
<title>home page</title>
</head>
<body>
  
  <section>  
	
	<div class="container-sm shadow-lg">
	  <div class="row">
	    <div class="col-md-8 offset-md-2">
           <div class="my-card mt-3">
           
            <div class="container">
                <div class="contact-section">
                    <h2 class="text-center">Contact Us</h2>
                <div class="row contact-fields">
                <div class="col-md-8 left-form">
                   
                     
                
                <div class="col-md-4 contact-info">
                <div class="phone">
                   <h4>For Any Queries,</h4>
                   <h4>Call Us</h4>
                   <a href="tel:+9898989898">9898989898</a>
                </div>
                <div class="email">
                  <h2>Email-</h2>
                   <a href="mailto:info@licm.com">info@licm.com</a>
                   
                </div>
                <div class="facebook">
                    <h2>Facebook</h2>
                    <a href="facebook.com">lifeinsurancems</a>
                </div>
                    <div class="twitter">
                        <h2>Twitter</h2>
                        <a href="twitter.com">insurancems</a>
                 </div>
                <div class="location">
                   <h2>Address</h2>
                   <p> 
                      Kshema Buildings </br>
                      Gateway Road</br>
                      Mumbai,400102</p>
                </div>
                      <div class="location">
                        <h2>Branches</h2>
                        <p> 
                           Mansingh Road,Delhi </br>
                           Patel Nagar,Pune</br>
                           EC Nagar,Noida</br>
                           Kukatpally,Hyderabad</br>
                           <br>
                   </p>
                      </div>
                </div>
                </div>
            </div>
         </div>
</div>
</div>	      
</div>
</div>
</div>
  </section>
</body>
</html>